.feedEkList{width:50%%; height:100%; color:#3E3E3E;}
.feedEkList li{border-bottom:1px solid #D3CAD7; padding:5px;}
.itemTitle a{font-weight:normal; color:#000 !important; text-decoration:none }
.itemTitle a:visited {font-weight:normal; color:grey !important; text-decoration:none }
.itemTitle a:hover{ text-decoration:underline }
